title = "gitleaks custom config"

[allowlist]
description = "Skip test content"
paths = ['''leaks.*''', '''test''', '''.*/test/.*''', '''.*\/test\/.*''']

[[rules]]
id = "private-key"
description = "Detect private keys"
regex = '''-----BEGIN (:?[A-Z\-\s]*)PRIVATE KEY-----'''
tags = ["key"]
	
[[rules]]
id = "generic-secret"
description = "Detect generic password/secret/apikey"
regex = '''(?i)(?:password|pass|pwd|passwd|secret|apikey)\s*(?:=|:)\s*.+'''
tags = ["secret"]

[[rules]]
id = "generic-token-or-key"
description = "Detect generic token/key"
regex = '''(?i)(?:-|_)(?:token|key)\s*(?:=|:)\s*.+'''
tags = ["secret"]

[[rules]]
id = "generic-secret-in-xml-node"
description = "Detect generic password/secret/apikey in a XML node"
regex = '''(?i)<(?:password|pass|pwd|passwd|secret|api\-key|apikey)>.+<\/'''
tags = ["secret"]

[[rules]]
id = "password-in-sql-instruction"
description = "Detect passwords in a SQL instruction"
regex = '''(?i)\s+identified\s+by\s+.+;'''
tags = ["secret"]

[[rules]]
id = "password-as-dash-param"
description = "Detect passwords passed as parameter with a dash prefix"
regex = '''(?i)-+pass[a-z]*\s+['"]?[a-z0-9-_]+['"]?.+'''
tags = ["secret"]

[[rules]]
id = "hash-with-identifier"
description = "Detect password hash"
regex = '''\$[a-zA-Z0-9]+\$[a-zA-Z0-9/\.\$=]{5,}'''
tags = ["hash"]

[[rules]]
id = "token-jwt"
description = "Detect JWT token"
regex = '''ey[A-Za-z0-9]{15,}\.[A-Za-z0-9]{15,}\.[A-Za-z0-9_-]*'''
tags = ["secret"]

[[rules]]
id = "private-ipv4-range10"
description = "Detect private IPv4 range 10"
regex = '''[\s"']{1}10\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}'''
tags = ["private-ipv4"]
	
[[rules]]
id = "private-ipv4-range172"
description = "Detect private IPv4 range 172.16"
regex = '''[\s"']{1}172\.16\.[0-9]{1,3}\.[0-9]{1,3}'''
tags = ["private-ipv4"]		

[[rules]]
id = "private-ipv4-range192"
description = "Detect private IPv4 range 192.168"
regex = '''[\s"']{1}192\.168\.[0-9]{1,3}\.[0-9]{1,3}'''
tags = ["private-ipv4"]
